@import './assets/styles/mixins';

#root {
    height: 100%;
}

button, input, select, textarea {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, select {
    cursor: pointer;
    border: none;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

[tabindex], a, area, button, input, label, select, summary, textarea {
    touch-action: manipulation;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
}

textarea {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--avatusColor);
    border-radius: 0;
    transition: border-bottom-color ease-in 0.2s;
    box-sizing: content-box;
    padding: 5px 0 8px 0;
}

::-webkit-input-placeholder {
    -webkit-text-security: none;
    color: rgb(117, 117, 117);
    direction: inherit !important;
    pointer-events: none !important;
    text-orientation: inherit !important;
    writing-mode: inherit !important;
}

figure {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    padding: 10px 5px;
    background-color: #1D1D1F;
    top: 0;
    left: 0;
    box-shadow: 0 3px 20px 0 rgb(0 0 0 / 50%);
    box-shadow: var(--headerBoxShadow);
    transition: -webkit-transform .6s cubic-bezier(.215,.61,.355,1);
    transition: transform .6s cubic-bezier(.215,.61,.355,1);
    transition: transform .6s cubic-bezier(.215,.61,.355,1),-webkit-transform .6s cubic-bezier(.215,.61,.355,1);
    -webkit-transition: transform .6s cubic-bezier(.215,.61,.355,1);
    .flex_headrow {
        max-width: 1170px;
        margin: 0 auto;
        @include fpos(center, space-between);
    }

    &.loggedin_header {
        @media screen and (max-width: $breakpoint_1366) {
            padding: 0;
        }

        @media screen and (max-width: $breakpoint_768) {
            @include flexAlign;
            min-height: 65px;
        }

        .flex_headrow {

            
        }
    }
}

ul {
    padding: 0;
}

ol, ul li {
    list-style-type: none;
}

input, textarea {
    outline: none;
    padding: 15px 18px;
    width: 100%;
    color: #8a8a8a;
    color: var(--greyColorTwo);
    font-size: 14px;
    letter-spacing: .14px;
    background-color: transparent;
    letter-spacing: .5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    outline: none !important;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.custom_container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    @media screen and (max-width: $breakpoint_1366) {
        max-width: 95%;
    }
  
    @media screen and (max-width: $breakpoint_1024) {
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
    }
  
    @media screen and (max-width: $breakpoint_576) {
        padding: 0 15px;
    }
}

.login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sign_in_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0);
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        outline: rgb(255, 255, 255) none 0px;
        width: 200px;
        margin-top: 50px;
        transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        &:hover {
            -webkit-transition: all .8s ease-out;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease-out;
            height: 55px;
            width: 205px;
        }
        img {
            width: 50px;
            height: 50px;
        }
        span {
            font-size: 13px;
            font-weight: bold;
        }
    }
    h2 {
        margin-top: 100px;
    }
}

.sidenav {
    width: 23%;
    height: 100%;
    @include position(sticky, 110px, auto, auto, auto);
    max-width: 270px;

    @media screen and (max-width: $breakpoint_1180) {
        width: 22%;
    }

    @media screen and (max-width: $breakpoint_950) {
        width: 230px;
    }

    @media screen and (max-width: $breakpoint_1024) {
        top: 100px;
    }

    @media screen and (max-width: $breakpoint_890) {
        top: 90px;
    }

    @media screen and (max-width: $breakpoint_767) {
        display: none;
    }

    .inner {
        background-color: var(--darkGreyColor);
        padding: 24px 18px;
        overflow-y: auto;

        @media screen and (max-width: $breakpoint_1180) {
            padding: 20px 15px;
        }
    }

    .list_search {
        margin-bottom: 12px;
        position: relative;
    }

    &.active {
        @media screen and (max-width: $breakpoint_650) {
            left: 0;
        }
    }
}

.f_center {
    display: flex;
    align-items: center;
}

.f_spacebw {
    display: flex;
    justify-content: space-between;
}

.relative, .text_field {
    position: relative;
}

.xs_title {
    font-size: 20px;
    color: #fff;
    color: var(--whiteColor);
    letter-spacing: .1px;
    margin: 0;
    display: block;
    position: relative;
}

.m_title {
    font-size: 20px;
    border-bottom: solid 0.5px var(--borderColor);
    padding: 0 0 18px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_btn {
    position: relative;
    padding: 0 0 0 30px;
    color: #fff;
    color: var(--whiteColor);
    letter-spacing: .4px;
    font: normal normal normal 16px/1;
    cursor: pointer;
    display: inline-block;
}

.back_btn:before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: -10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url('./assets/images/ic-back.svg') 50% no-repeat;
    background-size: contain;
}

.list_container {
    width: 77%;
    padding-left: 30px;
    min-height: 100%;
    flex: 1 1;
}

.f_row {
    display: flex;
}

.no_data {
    position: relative;
    flex-flow: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: calc(100vh - 200px);
}

.empty_box {
    @include flexCenter;
    flex-flow: column;
    padding: 15px 30px;
    position: relative;
    min-width: 340px;
    min-height: 160px;

    .empty_img {
        width: 45px;
        height: 45px;

        @media screen and (max-width: $breakpoint_1024) {
            width: 35px;
            height: 35px;
        }

        @media screen and (max-width: $breakpoint_480) {
            width: 30px;
            height: 30px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &.post_img {
            width: 70px;
            height: 48px;
        }
    }

    .empty_txt {
        color: var(--emptyStateColor);
        max-width: 250px;
        margin: 22px auto 0;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1.6px;
        line-height: 22px;
        font-family: $fontFamilyMedium;

        @media screen and (max-width: $breakpoint_1366) {
            font-size: 14px;
        }

        @media screen and (max-width: $breakpoint_480) {
            font-size: 13px;
            margin-top: 20px;
        }

        @media screen and (max-width: $breakpoint_320) {
            font-size: 12px;
            margin-top: 15px;
        }
    }

    &.empty_notification_box {
        min-width: auto;
        min-height: 120px;

        .empty_img {
            width: 25px;
            height: 25px;

            @media screen and (max-width: $breakpoint_320) {
                width: 15px;
                height: 15px;
            }
        }

        .empty_txt {
            font-size: 12px;
            margin-top: 15px;
        }
    }

    &.empty_contact_box {
        min-width: 100%;
        min-height: 120px;

        .empty_img {
            width: 25px;
            height: 25px;
        }

        .empty_txt {
            margin-top: 8px;
        }
    }

    &.empty_gift_box {
        .empty_txt {
            font-size: 12px;
            line-height: normal;
            margin-top: 8px;
        }
    }

    &.empty_post_box {
        .empty_img {
            width: auto;
        }
    }

    &::before,
    &::after {
        width: 20px;
        min-height: 100%;
        background-image: url('./assets/images/empty_box_bg.svg');
        background-size: contain;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    &::before {
        left: 0;
    }

    &::after {
        transform: rotateY(180deg);
        right: 0;
    }
}

.show_label {
    font: 14px/18px $fontFamily;
    margin: 0 0 8px 0;
    color: var(--lightGreyColor);
    display: block;
    line-height: 1.5;

    @media screen and (max-width: $breakpoint_950) {
        font-size: 13px;
    }

    .show_label_text {
        font-size: 12px;
    }

    &.white {
        color: var(--whiteColor);
    }

    &.onboard_label {
        margin-bottom: 35px;

        @media screen and (max-width: $breakpoint_768) {
            font-size: 15px;
            margin-bottom: 10px;
        }

        @media screen and (max-width: $breakpoint_480) {
            font-size: 14px;
        }
    }
}

.empty_box .empty_img {
    width: 45px;
    height: 45px;
}

.overflow_unset {
    overflow: unset !important;
}

.by_wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.m0 {
    margin: 0 !important;
}

.by_wrap {
    span {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.6px;
        color: var(--whiteColor);
    }
    .u_img {
        width: 25px;
        height: 25px;
        border: solid 2px #FFFFFF;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 10px 0 0;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

.capitalize {
    text-transform: capitalize;
}

.placeholder_img {
    border-radius: 50%;
    border: 0;
}

.text-center {
    text-align: center;
}

.chat_media_modal {
    background-color: var(--blackColor) !important;
}

.chat_media_modal {
    background-color: var(--blackColor) !important;

    .zoom_container {
        padding: 3px 100px 9px;
        background-color: transparent !important;
        max-width: 100% !important;
        height: 100% !important;

        &::before,
        &::after {
            display: none !important;
        }

        >div {
            height: 100%;
        }

        .chat_media_inner {
            height: 100%;
            @include flexCenter;

            .media_detail_wrap {
                position: relative;
                height: 100%;
                width: 100%;
                flex-direction: column;

                .user_detail_wrap {
                    width: 100%;
                    margin: 20px 0 0;
                    text-align: center;

                    h1 {
                        font-size: 16px;
                        line-height: 25px;
                        font-family: $fontFamilyMedium;
                        letter-spacing: 0.8px;
                        color: var(--whiteColor);
                        margin: 0;
                    }

                    .date {
                        font: normal normal 12px/20px $fontFamily;
                        letter-spacing: 0.12px;
                        color: var(--lightGreyColor);
                    }
                }
            }
        }

        .media_content {
            @include flexCenter;
            margin: 30px 0;
            height: calc(100vh - 140px);
            background-color: var(--blackColor);

            img,
            video {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }

            video {
                min-width: auto;
                min-height: 100%;
                object-fit: contain;
            }
        }

        button.cross {
            @include flexCenter;
            width: 35px;
            height: 35px;
            padding: 0;
            top: 20px;
            right: 100px !important;
            border: 0.2px solid var(--borderColor);
            padding: 11px;
        }
    }

    .mui_carousel {
        >div {
            right: 0 !important;
            left: auto;
        }

        >div:last-child {
            left: 0;
            right: auto !important;
        }
    }
}

.mui_carousel {
    overflow: initial !important;
    button[aria-label="Previous"], button[aria-label="Next"] {
        margin: 0;
        padding: 0;
        background-color: transparent;
        pointer-events: all;
    }
}

.actions {
    @include position(absolute, 0, 0, auto, auto);
    display: flex;

    button {
        @include flexAlign;
        height: 20px;
        min-width: auto;
        padding: 0;

        @media screen and (max-width: $breakpoint_650) {
            height: 13px;
        }

        @media screen and (max-width: $breakpoint_320) {
            width: 12px;
            height: 12px;
        }
    }

    li {
        @include flexAlign;
        margin-left: 12px;

        .more {
            display: inline-block;
            width: 18px;
            height: 17px;
            background: url('./assets/images/more-options.svg') center no-repeat;
            background-size: contain;

            @media screen and (max-width: $breakpoint_650) {
                width: 13px;
                height: 13px;
            }

            @media screen and (max-width: $breakpoint_320) {
                width: 12px;
                height: 12px;
            }
        }

        .reply {
            display: inline-block;
            width: 22px;
            height: 22px;
            background: url('./assets/images/Reply.svg') center no-repeat;
            background-size: contain;

            @media screen and (max-width: $breakpoint_650) {
                width: 13px;
                height: 13px;
            }

            @media screen and (max-width: $breakpoint_320) {
                width: 12px;
                height: 12px;
            }
        }

        .share {
            display: inline-block;
            cursor: pointer;
            width: 15px;
            height: 15px;
            background: url('./assets/images/share.svg') center no-repeat;
            background-size: contain;

            @media screen and (max-width: $breakpoint_650) {
                width: 13px;
                height: 13px;
            }

            @media screen and (max-width: $breakpoint_320) {
                width: 12px;
                height: 12px;
            }
        }
    }
}

.common_para {
    font-size: 14px;
    line-height: 1.43;
    color: var(--lightGreyColor);
    margin: 0 0 30px 0;
}

button.btn, a.btn {
    max-width: 163px !important;
}

button.btn.outline_btn, a.btn.outline_btn {
    margin-left: 20px;
}

button.btn.outline_btn, a.btn.outline_btn {
    margin-left: 20px;
}
button.btn, a.btn {
    max-width: 163px;
}
button.outline_btn, a.outline_btn {
    background-color: transparent;
    border: 1px solid var(--textColor);
    letter-spacing: 0.3px;
    color: #FFFFFF;
    padding: 5px 10px;
    transition: all ease-in 0.3s;
    display: inline-block;
    font-size: 14px;
    width: 100%;
    min-height: 40px;
    max-width: 320px;
}

button.fill_red_btn, a.fill_red_btn {
    background-color: var(--avatusColor);
    letter-spacing: 0.3px;
    color: #FFFFFF;
    padding: 6px 10px;
    transition: all ease-in 0.3s;
    display: inline-block;
    font-size: 14px;
    width: 100%;
    min-height: 40px;
    max-width: 320px;
    border: none;
    white-space: nowrap;
}

.btn-effect {
    position: relative;
}

button.fill_red_btn.disable_btn, a.fill_red_btn.disable_btn {
    background-color: #404040;
    cursor: not-allowed;
}

.m_content {
    padding-top: 0;
    max-height: 250px;
    overflow-y: auto;
}

.root-loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m_title.b_none {
    border: none;
}

.success_popup {
    text-align: center;
    padding-bottom: 12px;
    .common_para {
        max-width: 300px;
        margin: 0 auto 34px;
    }
    .action_btns_wrapper {
        margin: 0 -10px;
        display: flex;
        align-items: center;
    }
}

.sub_title {
    font: 24px/1.88 "PoppinsMedium";
    color: var(--whiteColor);
    letter-spacing: 0.6px;
    margin: 0;
    display: block;
    position: relative;
}

.success_popup > span, .success_popup .sub_title {
    font-size: 22px;
    margin-bottom: 14px;
}

.btn.block, .btn.outline_btn {
    width: 163px;
}

.action_btns_wrapper {
    margin: 0 -10px;
    @include flexAlign;

    .btn_wrap {
        width: 50%;
        padding: 0 10px;
    }
}

button.only_child, a.only_child {
    max-width: 163px;
    margin: 0 auto;
}